<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MainUrl" value="https://wok.by/"/>
    <add key="AuthUrl" value="https://wok.by/auth/"/>
    <add key="RegUrl" value="https://wok.by/auth/?register=yes"/>
    <add key="ForgotUrl" value="https://wok.by/auth/?forgot_password=yes"/>
  </appSettings>
</configuration>